device: 'cuda:7'
cache_dir: '/data/scratch-oc40/sqa/cache'
wandb_notes: 'first try'

model:
    name: Qwen/Qwen3-8B

dataset:
    name: gsmhard
    max_length: 512

lora:
    rank: 8
    alpha: 32
    dropout: 0.05

training:
    batch_size: 256
    train_batch_size: 32
    rounds_per_batch: 3
    num_epochs: 10
    max_new_tokens: 2000
    learning_rate: 0.0001
    max_grad_norm: 1.0
    max_steps_per_epoch: 500
    save_every: 1
    log_interval: 10
