device: 'cuda:0'
cache_dir: '/data/scratch-oc40/sqa/cache'
wandb_notes: 'first try'
generate_bs: 4 # adjust this based on your GPU memory

model:
    name: Qwen/Qwen3-8B

dataset:
    name: gsmhard
    max_length: 512

lora:
    rank: 8
    alpha: 32
    dropout: 0.05

training:
    batch_size: 64
    train_batch_size: 16
    rounds_per_batch: 3
    num_epochs: 10
    learning_rate: 0.0001
    max_grad_norm: 1.0
    max_steps_per_epoch: 500
    save_every: 1
    log_interval: 10
    vllm_update_freq: 4
